.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 45% !important;
  margin-top: 0% !important;
  text-align: center;

}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  cursor: pointer;
}

.close:hover {
  color: black;
}


  .BTNEditar , .BTNBorrar{
    margin: 4px;
    
  }
  
  .BTNBorrar{
    background-color: red;
  
  }
  .BTNBorrar:hover{
    background-color: rgb(155, 29, 29);
  
  }