body {
    background-color: rgb(217, 197, 197) !important;
  }
.contacto-conteiner{
  background-color: rgb(255, 255, 255);
  margin-top: 50px;
  color: rgb(0, 0, 0);


}
.contenedor-formulario {
    background-color: rgb(239, 238, 238);
    width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid black ;
    padding: 20px;
  }
  
  .contenedor-formulario label {
    font-weight: bold;
  }
  
  .contenedor-formulario input,
  .contenedor-formulario textarea {
    margin-bottom: 10px;
  }
  
  .contenedor-formulario button {
    margin-top: 20px;
  }
  